.results-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  overflow-x: none;
  padding-left: 7vw;
  padding-right: 7vw;
}

.back-to-search-btn {
  margin-left: 3rem;
  margin-right: 3rem;
  height: 2rem;
}

.results-header {
  margin-top: 2rem;
  border-top: 2px solid var(--black);
  display: flex;
  padding: 0rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.results-header > h3 {
  margin-top: 0.7rem;
}

.results-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.results-search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6rem;
}
.no-results-msg {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 6rem;
  font-style: italic;
}
.no-results-msg > img {
  height: 10vh;
}

@media (max-width: 768px) {
  .results-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .results-search-bar {
    margin-left: 1rem;
  }
  .no-results-msg {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .back-to-search-btn {
    /* margin-left: 3rem;
    margin-right: 3rem; */
    height: 3rem;
    width: 6rem;
    margin-top: 1rem;
  }
  .results-top-row{
    display: flex;
    flex-direction: column-reverse;
   
  }
  .button-placement{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
}
