.results-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
    overflow-x: none;
    padding-left: 7vw;
    padding-right: 7vw;
  }

  @media (max-width: 768px) {
    .results-container {
      grid-template-columns: repeat(1, 1fr); 
    }
  }