.Load-image{
    height: 40vmin;
    pointer-events: none;
  }

  .loading-text {
    font-size: 3rem;
    font-weight: bold;
    color: darkblue;
  }

  .loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.spinner-section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.spinner{
  height: 4rem;
}
  @media (prefers-reduced-motion: no-preference) {
    .spinner{
      animation: spinner-spin infinite 8s linear;
    }
  }
  

@keyframes spinner-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }