@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');

:root {
  --dark-red: #990001;
  --black: #000000;
  --white: #FFFFFF;
  --darkgray: #3b3b3b;
  /* //#292929; */
}

.App {
  text-align: center; 
  font-family: 'Molengo', sans-serif;
}
