.details-page {
  padding: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.details-large-image {
  width: 66vw;
  margin-left: 2rem;
}

.details-large-image > img {
  height: 80vh;
  width: auto;
}

.details-short-info {
  height: 85vh;
  width: 36vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.details-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.details-artist,
.details-place,
.details-years {
  margin-bottom: 0;
}

.details-title {
  margin-top: 10vh;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.details-lower-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-lower-heading {
  margin-top: 10vh;
}

.details-lower-subheading {
  margin-left: 2vw;
}

.details-description {
  text-align: left;
}
