.App-header {
  background-color: var(--dark-red);
  height: 9vh;
  padding-left: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.App-header > h1 {
  font-size: 4vh;
}

.App-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bear-img {
  height: 4.5vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
